<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Add Country</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Country</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">name:</label>
              <input type="text" class="form-control" [(ngModel)]="c.name">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">imgsrc:</label>
                <input type="text" class="form-control" [(ngModel)]="c.imgsrc">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">region:</label>
                <input type="text" class="form-control" [(ngModel)]="c.region">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">population:</label>
                <input type="text" class="form-control" [(ngModel)]="c.population">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendData()">Add Country</button>
        </div>
      </div>
    </div>
  </div>